body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.custom-image {
    max-width: 1200px;
    width: 100%;
    height: auto;
}

.information-box {
    background-color: #f8f9fa;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 200px;
}

.contact {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-2 {
    margin-left: 2em;
    border: solid;
    border-radius: 4px;
    border-width: 1px;
    border-color: #191919;
    width: fit-content;
    padding: 3px;
}

.last-modify {
    clear: both;
    padding: 10px 10px 10px 0;
    background: #efede9;
    text-align: right;
}

.copyright {
    clear: both;
    padding: 20px 0;
    text-align: center;
    color: black;
}

.nenkai-header {
    clear: both;
    padding: 20px;
    text-align: left;
    font-size: 24px;
    color: black;
}

.name {
    text-align-last: justify;
    text-align: justify;
    text-justify: inter-ideograph;
    display: inline-block;
    width: 6em;
    margin-right: 2em;
    margin-left: 4em;
    margin-bottom: 0;
}

strong {
    color: red;
    text-decoration: underline;
}

.dropdown-menu {
    transition: opacity 0.3s ease, visibility 0.3s ease;
    opacity: 0;
    visibility: hidden;
    display: block;
}

.nav-item.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.committee {
    display: block;
    height: auto;
    width: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
}

.chairman {
    font-weight: bold;
}

h1 {
    font-size: 32px;
    border-left: solid 5px #191919;
    color: black;
    padding: 20px;
    background-color: #f8f9fa;
    margin-top: 10px;
}

h2 {
    font-size: 24px;
    border-left: solid 5px rgb(0, 99, 0);
    padding: 8px;
    color: black;
    background-color: white;
    margin-top: 8px;
}

h3 {
    font-size: 20px;
    margin-top: 4px;
}

table th {
    border: solid, 1px, black;
    border-width: 1px;
}
table td{
    border: solid, 1px, black;
    border-width: 1px;
}