{{ define "main" }}
<div class="container">
    <div class="row">
        <div class="col-md-6 mt-3 mb-3">
            <div class="information-box">
                <h4>更新情報</h4>
                {{ range where .Site.RegularPages.ByDate.Reverse "Params.hidden" "!=" true }}
                    <p style="margin-bottom: 0;">[{{ .Date.Format "2006/01/02" }}] <a href="{{ .RelPermalink }}">{{ .Title }}</a> {{ .Params.description }}</p>
                {{ end }}
            </div>
        </div>
        
        
        <div class="col-md-6 mt-5 mb-5">
            <img src="./images/TCU01.jpg" alt="TCU01">
        <!--
            <a class="btn btn-primary" href="https://www.pasj.jp/cgi-bin/meetings/pasj2024/registration.cgi" role="button">
                発表申し込み / Abstract Submission
            </a><br>
            <a class="btn btn-success" href="https://form.run/@pasj-exhibition-form" role="button">
                企業展示申し込み
            </a>
        -->
        </div>

    </div>
</div>
{{ end }}
