<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 p-0 position-relative">
            <img src="images/banner_bottom.jpg" class="custom-image" alt="TCU" width="1200" height="375">
            <div class="position-absolute bottom-0 end-0 p-3"
                style="background-color: rgba(255, 255, 255, 0.7); border-radius: 5px;">
                <h4 class="responsive-text">主 催 : 日本加速器学会</h4>
                <h4 class="responsive-text">共 催 : 東京科学大学総合研究院ゼロカーボンエネルギー研究所（予定）<br>
                    <span style="margin-left:3em">東京都市大学理工学部原子力安全工学科/理工学部原子力研究所（予定）</span><br>
                    <span style="margin-left:3em">東京大学大学院工学系研究科原子力専攻（予定）</span></h4>
            </div>
        </div>
    </div>
</div>



<div class="copyright">
    &copy; 2025 日本加速器学会 行事委員会
</div>
