<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-circular" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        サーキュラー
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown-circular">
                        <li><a class="dropdown-item" href="first_circular.html">第１回サーキュラー</a></li>
                        <li><a class="dropdown-item" href="second_circular.html">第２回サーキュラー</a></li>
                        <li><a class="dropdown-item" href="committee.html">委員一覧</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-registration" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        参加 &middot; 発表申込
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown-registration">
                        <li><a class="dropdown-item" href="join.html">参加要項</a></li>
                        <li><a class="dropdown-item" href="abstract.html">発表申込要領</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-program" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        プログラム
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown-program">
                        <li><a class="dropdown-item" href="special_lecture.html">特別講演</a></li>
                        <li><a class="dropdown-item" href="kikaku.html">企画セッション</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-exhibition" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        企業展示
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown-exhibition">
                        <li><a class="dropdown-item" href="booth_info.html">ご出展案内</a></li>
                        <li><a class="dropdown-item" href="company.html">企業展示出展要領</a></li>
                        <li><a class="dropdown-item" href="company2.html">広告掲載募集要項</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="tour.html">施設見学</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="kondankai.html">学生・企業/研究機関懇談会</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="hotels.html">宿泊案内</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="nursery.html">託児所案内</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="access.html">アクセス</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">問い合わせ</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
